#header {
  list-style-type: none;
  line-height: 0.5;
  color: black;
}

#Education, #WestMonroe, #WM, #CivicStudios, #Projects {
  list-style-type: none;
  font-family: 'Times New Roman', Times, serif;
}